<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<header id="header-index">
    <h1>Заголовок сайта</h1>
    <p>Описание сайта</p>
</header>
<body>
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
    <h1>Давайте сделаем сайт!</h1>
    <p>Данный проект является решением практического задания для модуля 27.</p>
    <!--Нью-Йорк-->
    <iframe class="video-container" width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!--Санкт-Петербург-->
    <iframe class="video-container" width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!--Лондон-->
    <iframe class="video-container" width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <input type="text">
</body>
<footer>
    <p>8-800-555-35-35</p>
</footer>
</html>
